################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/OpenGL__ControlPLYObject/Debug
/OpenGL__ControlPLYObject/Release
